*{
    font-family: sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    font-size: 16px;

    margin-top: 3em;

    background-color: #e6f0ff;
}

h1{
    color: #fff;  
}

h2,h3{
    color: #666;
}

header,
main,
footer{
    margin: 1 auto;
    max-width: 800px;
}

header{
    padding: 2em 0;
}

header{
    display: grid;
    background-image: url("/images/background1.jpg");
    max-width: 100%;
    text-align: center;
} 

header h1{
    font-size: 3em;
  
}

header span{
    font-size: 1.5em;
    color:#fff;
      
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-flow: row;
    justify-content:left;

    background: #333;
}

nav a{
    padding: .5em 2em;
    text-decoration: none;
    color: #fff;
}

nav a:hover{
    background: #666;
}


section{
    margin: 1em 0;

    padding-top: 3em;
    min-height: 20em;
}

section ul{
    padding-left: 1.5em;
}

section > p{
    margin: 1em 0;
}


 #products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 1em;
    
    }

    #products article{
    background: #ccc;
    padding: 1em;
    text-align: justify;
} 

 #products article img{
    width: 100%;
} 


footer{
    margin-top: 2em;
    margin-bottom: 1em;
    background: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    max-width: 100%;

}

#avatar img{
    border-radius: 70%;
    width: 100px;
    padding: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
   
}

 #Contacts1 img{
    float: left;
    background-color: #e6f0ff;
    padding: 1em;
      
} 

#Contacts2 img{
    float: left;
    background-color: #e6f0ff;
    padding: 1em
}

#Contacts3 img{
  float: left;
  background-color: #e6f0ff;
  padding: 1em;

}

/* //Quiz Game Styling*/

  :root {
  
    --hue-neutral: 200;
  
    --hue-wrong: 0;
  
    --hue-correct: 145;
  
  }
         
  body.correct {
  
    --hue: var(--hue-correct);
  
  }
      
  body.wrong {
  
    --hue: var(--hue-wrong);
  
  }
      
.container {
  
    width: 200px;
    
    max-width: 100%;
  
    background-color: white;
  
    border-radius: 5px;
  
    padding: 10px;
  
    box-shadow: 0 0 10px 2px;
  
  }
    
  .btn-grid {
  
    display: grid;
  
    grid-template-columns: repeat(2, auto);
  
    gap: 10px;
  
    margin: 20px 0;
  
  }
  
    
  .btn {
  
    --hue: var(--hue-neutral);
  
    border: 1px solid hsl(var(--hue), 100%, 30%);
  
    background-color: hsl(var(--hue), 100%, 50%);
  
    border-radius: 5px;
  
    padding: 5px 10px;
  
    color: white;
  
    outline: none;
  
  }
  
  
  .btn:hover {
  
    border-color: black;
  
  }
  
  
  .btn.correct {
  
    --hue: var(--hue-correct);
  
    color: black;
  
  }
  
  
  
  .btn.wrong {
  
    --hue: var(--hue-wrong);
  
  }
  
  
  
  .start-btn, .next-btn {
  
    font-size: 1.5rem;
  
    font-weight: bold;
  
    padding: 10px 20px;
  
  }
      
  .controls {
  
    display: flex;
  
    justify-content: center;
  
    align-items: center;
  
  }
  
   
  .hide {
  
    display: none;
  
  }